* {
  --black: rgb(51, 51, 51);
  --blue: #66a1ee;
  --white: #ffffff;
}
.Contact-Title {
  margin-top: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Contactitle {
  height: 32px;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--blue);
}
#Contact-subtitle {
  margin-top: -1.3%;
  height: 32px;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--black);
}
.Contacts {
  margin-top: 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Contactcontainer {
  margin-left: 15%;
  margin-right: 15%;
}
.Contact-left {
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Contact-right {
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Contact-profile {
  height: 108px;
  width: 108px;
  cursor: pointer;
  margin-bottom: 24px;
  background-color: #fff;
  box-shadow: 0px 4px 24px #00000010, -8px -8px 16px #ffffff;
}
.Contact-linkedinbtn {
  height: 44px;
  width: 44px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 4px 24px #00000010, -8px -8px 16px #ffffff;
}
.Contact-instagrambtn {
  height: 44px;
  width: 44px;
  cursor: pointer;
  margin-left: 16px;
  background-color: #fff;
  box-shadow: 0px 4px 24px #00000010, -8px -8px 16px #ffffff;
}
.Contact-whatsappsbtn {
  height: 44px;
  width: 44px;
  cursor: pointer;
  margin-left: 16px;
  background-color: #fff;
  box-shadow: 0px 4px 24px #00000010, -8px -8px 16px #ffffff;
}
#mail-input {
  height: 54px;
  width: 100%;
  border: none;
  padding: 0px 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 24px #00000010, -8px -8px 16px #ffffff;
}
#mail-input-details {
  height: 230px;
  width: 100%;
  border: none;
  padding: 15px 20px;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 24px #00000010, -8px -8px 16px #ffffff;
}
#Name-input {
  height: 54px;
  width: 100%;
  border: none;
  margin-bottom: 20px;
  padding: 0px 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 24px #00000010, -8px -8px 16px #ffffff;
}
#Name-input-details {
  height: 230px;
  width: 100%;
  border: none;
  padding: 15px 20px;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 24px #00000010, -8px -8px 16px #ffffff;
}
.contact-form button {
  height: 40px;
  width: 40px;
  border: none;
  position: absolute;
  right: -2%;
  top: 350px;
  cursor: pointer;
  border-radius: 119px;
  background: var(--blue);
  box-shadow: 0px 4px 24px #00000010, -8px -8px 16px #ffffff;
  transition-duration: 0.3s;
}
.contact-form button:hover{
  background-color: #0672ff;
 -webkit-transform: scale(1.1);
 transform: scale(1.1);
}
.fa-paper-plane {
  color: var(--white);
}

.status-message {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.success {
  font-size: 15px;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  color: #04b33b;}

.error {
  font-size: 15px;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  color: red;
}
