*{--black:rgb(51, 51, 51);
    --blue:#66A1EE;
    }
    .Homeweoneitbtn{
        margin-top: 40px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--blue);
    }
    .fa-angle-right{
        height: 16px;
        width: 16px;
        margin-left: 16px;
        color: var(--blue);
    }
    .fa-download{
        height: 16px;
        width: 16px;
        margin-left: 16px;
        color: var(--blue);
    }
    .fa-file-pdf{
        height: 16px;
        width: 16px;
        margin-right: 8px;
        color: var(--blue);
    }

    .Home-weoneit-btn{
        font-size: 16px;
        font-family: 'Poppins',sans-serif;
        color: var(--blue);
        border: 1.5px solid var(--blue);
        background-color: white;
        box-shadow:  0px 4px 24px #00000010,
          -8px -8px 16px #ffffff;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 24px;
        padding-right: 24px;
        cursor: pointer;
        border-radius: 8px;
        box-shadow: 0px 4px 24px #00000010, -8px -8px 16px #ffffff;
        transition-duration: 0.3s;
    }
    .Home-weoneit-btn i {
        color: inherit;
      }
    .Home-weoneit-btn:hover{
        background-color: #ffffff;
       -webkit-transform: scale(1.1);
       transform: scale(1.1);
       color: #007BFF;
       border: 1.5px solid #007BFF;

      }
     