* {
  --black: rgb(51, 51, 51);
}
.Container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ProjectCard {
  margin-top: 40px;
  height: 470px;
  width: 70%;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 24px #00000010, -8px -8px 16px #ffffff;
  border-radius: 24px;
}
.left{
  width: 50%;
  margin-left: 40px;
}
.projectlogo {
  height: 56px;
  width: 56px;
  margin-top: 40px;
  background-color: #fff;
  box-shadow: 0px 4px 24px #00000010, -8px -8px 16px #ffffff;
}
#title {
  margin-top: 16px;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: var(--black);
}
#year {
  margin-top: 0px;
  font-family: "Poppins", sans-serif;
  color: var(--black);
}
#detail {
  margin-top: 16px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  color: #b6b6b6;
}
.right{
  width: 50%;
  margin-right: 24px;
}
.projectpic{
  width: 430px;
  position: absolute;
  bottom: 0px;
}