* {
  --black: rgb(51, 51, 51);
}

.row {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
  margin-left: 30%;
  margin-right: 25%;
}
#hometitle {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-left: 15%;
  margin-top: 32px;
  margin-bottom: 0%;
}
.skill-img {
  height: 120px;
  width: 120px;
  box-shadow: 0px 4px 24px #00000010, -8px -8px 16px #ffffff;
}
.Figma{
    margin-right: 10%;
}
.Xd{
    margin-right: 10%;
}
#skill-name {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
