* {
  --black: rgb(51, 51, 51);
}

.top-bar {
  height: 48px;
  margin-top: 32px;
}

.rounded-image {
  border-radius: 50%; /* Creates a circular shape */
}
.profilepic {
  height: 48px;
  width: 48px;
  cursor: pointer;
  border: none;
  position: relative;
  margin-left: 240px;
  background-color: #fff;
  box-shadow: 0px 4px 24px #00000010, -8px -8px 16px #ffffff;
  margin-left: none;
}
.btn-menu {
  height: 48px;
  width: 48px;
  border: none;
  position: absolute;
  right: 15%;
  cursor: pointer;
  border-radius: 119px;
  background: #ffffff;
  box-shadow: 0px 4px 24px #00000010, -8px -8px 16px #ffffff;
}
.fa-solid {
  color: var(--black);
}
.rectangle {
  height: 48px;
  width: 206px;
  margin-top: 26px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 48px;
  background: #f7f7f7;
  box-shadow: 0px 4px 24px #00000010, -8px -8px 16px #ffffff;
}
.all-btn {
  height: 40px;
  width: 68px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 48px;
  margin-left: 8px;
  margin-top: 4px;
  cursor: pointer;
  color: var(--black);
  background-color: white;
  box-shadow: 0px 4px 24px #00000010, -8px -8px 16px #ffffff;
}
.projects-btn {
  height: 40px;
  width: 113px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 48px;
  margin-left: 8px;
  margin-top: 4px;
  cursor: pointer;
  color: var(--black);
  background-color: #f7f7f7;
  border: none;
}
.projects-btn2 {
  height: 40px;
  width: 108px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 48px;
  margin-left: 8px;
  margin-top: 4px;
  cursor: pointer;
  color: var(--black);
  background-color: white;
  box-shadow: 0px 4px 24px #00000010, -8px -8px 16px #ffffff;
}
.all-btn2 {
  height: 40px;
  width: 74px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 48px;
  margin-left: 8px;
  margin-top: 4px;
  cursor: pointer;
  color: var(--black);
  background-color: #f7f7f7;
  border: none;
}
