*{--black:rgb(51, 51, 51);}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    margin-left: 20%;
    margin-right: 20%;
}

.abs{
    position: absolute;
}
#hey{
    font-size: 44px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background: linear-gradient(-4deg , #676767 , #DFDFDF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#left{
    height: 135px;
    top: 0px;
    left: 0px;
}

#right{
    height: 90px;
    top: 40px;
    right: 0px;
}

.container div{
    margin-top: -40px;
    height: 24px;
    color: var(--black);
    display: flex;
    align-items: center ;
    font-family: 'Poppins', sans-serif;
    gap: 8px;
}

.container div img{
    height: 24px;
    width: 24px;
}
.container div p{
    font-size: 16px;
    color: var(--black);
    font-weight: lighter;
}
#ui{
    color: var(--black);
    width: 50%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: lighter;
}
#ui2{
    color: var(--black);
    width: 50%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    margin-top: -32px;
}